.product_card{
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}
.product_card img{
    width: 25%;
    min-width: 25%;
    height: 300px;
    display: block;
    object-fit: cover;
    min-width: 300px;
}
.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.product_card span{
    color: crimson;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: #555;
    margin-right: 5px;
}
#btn_view{
    background: teal;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}



.product_box span{
    font-size: 18px;
    color: white;
    background-color:#00799E ;
    border-radius: 25px;
    padding: 10px;
    margin-left: -3px;
}

.product_description{
    margin-top: 20px;
    width: 80% !important;
    padding-right: 20px;
}

.product_box{
    width: 100%;
}

#btn_view{
    background: #EB7602;
    border-radius: 25px;
    padding: 10px;
}

.product_middle_locations{
    margin-top: -20px;
    padding-top: 20px;
}

.product_category{
    position: absolute;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background: #EB7602;
    
    color: white;
    padding: 10px;
    right: 0;
    font-size: 14px;
    min-width: 150px;
    text-align: left;
    padding-left: 30px;
}

@media only screen and (max-width: 864px) {
    .product_card{
        flex-direction: column;
        align-items: center;
    }

    .product_card img{
        width: 100%;
    }

    .product_category{
        right: 15px;
        top: 20px;
    }
  }