footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}

.footer_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer button {
  border-radius: 25px;
  padding: 10px 25px 10px 25px;
  font-size: 16px;
  width: 200px;
  background-color: grey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  transition: all 1s ease;
  color: white;
  border: none;
  cursor: pointer;
}

footer button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all 1s ease;
}
